.git
.github
.idea
.vscode

bin
dist
data

*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal

coverage
coverage.*
*.out
*.test

.env
.env.*
!.env.example

Dockerfile*
compose*.yaml
compose*.yml
README.md
docs
